environment/module.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="version">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]+(.[0-9]+){0,3}(-dev)?|wip" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="module">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="metadata" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" />
			<xs:attribute name="version" type="version" />
		</xs:complexType>
	</xs:element>
</xs:schema>
